name: Bump version

on:
  pull_request:
    types:
      - closed
    branches:
      - main
jobs:
  bump-version:
    if: github.event.pull_request.merged && contains(github.event.pull_request.labels.*.name, 'dependencies') 
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Bump version and push tag
      uses: anothrNick/github-tag-action@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        WITH_V: true
        DEFAULT_BUMP: minor